.editor-container .monaco-editor .monaco-editor-background {
  background-image: url("file:///home/megumin/NotUse/Downloads/Image/wallhaven-j8wm9y_1360x768.png") !important;
  background-size: cover !important;
  background-position: center !important;
}
